@page
@model NTU.IoT.Web.Areas.Identity.Pages.Account.AccountActivationModel
@{
    ViewData["Title"] = "AccountActivation";
}

<h1>Please contact the administrator to activate your acount</h1>
}
