@model DeviceType

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Device Type</h2>
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="name">Name</label>
            <input asp-for="name" type="text" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="topic_name"></label>
            <input asp-for="topic_name" type="text" class="form-control" />
            <span asp-validation-for="topic_name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="table_name"></label>
            <input asp-for="table_name" type="text" class="form-control" />
            <span asp-validation-for="table_name" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6">
                <a asp-action="Index" asp-controller="DeviceType" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </div>
</form>