version: '3.4'

services:
  ntu.iot.web:
    image: ${DOCKER_REGISTRY-}ntuio
    build:
      context: .
      dockerfile: NTU.IoT.Web/Dockerfile
    networks:
      - multi-nodes_iot
    
    ports:
      - "2377:2377" 
networks:
  multi-nodes_iot:
    external:
      name: multi-nodes_iot
volumes:
  dataprotectionkeys: